.btn {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  + .btn {
    // margin-top: 10px;
    margin-left: 10px;
  }
}
.btn_detail {
  cursor: pointer;
  // background-color: #f0f8ff;
  // color: var(--primary);
  border-radius: 10px;
  padding: 10px 10px;
}

.normally {
  background-color: #eee;
  color: #1e2022;
  font-weight: 400;
}

.active {
  background-color: #e8f2ff;
  color: #35509a;
  font-weight: 500;
}

.primary {
  background-color: #f0f8ff;
  color: var(--primary);
  // font-weight: 500;
}
