.body {
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 150px;
}

.content {
  margin: 0 150px;
  h2 {
    color: #1a1a1a;
  }
}

.item {
  span {
    font-size: 16px;
  }
}

.modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.modal-item {
  margin: 10px;
  width: 100%;
}
.btn-target {
  text-align: center;
}
