.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
  max-height: 100px;
  // border-bottom: 1px solid #000;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.element {
  padding: 10px;
  margin-right: 10px;
  background-color: transparent;

  .element-link {
    text-decoration: none;
    color: #71869d;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
      margin-right: 8px;
      border-radius: 50%;
    }

    a {
      font-size: 2rem;
      padding: 4px 4px;
      padding-left: 6px;
      color: #000 !important;
    }

    .btn {
      background-color: var(--primary);
      color: var(--white);
      padding: 5px 5px;
    }

    .image {
      width: 200px;
      height: 100px;
      object-fit: contain;
      margin-right: 8px;
      border-radius: 50%;
    }
  }
}

.element-btn {
  display: flex;
}
