@import "node_modules/video-react/styles/scss/video-react";
.body {
  height: 100vh;
  margin-top: 130px;
}
.content {
  margin: 0 20px;
  margin-top: 20px;
  display: flex;
}

.item-10 {
  bottom: 50px;
  left: 0;
  overflow-x: hidden;
  overscroll-behavior: contain;
  position: fixed !important;
  top: 130px;
  width: 80%;
  overflow-y: overlay;
}
.header {
  text-align: center;
}
.description {
  margin: 20px;
}

.item-2 {
  border: 1px solid #e7e7e7;
  bottom: 50px;
  top: 130px;
  position: fixed;
  right: 0;
  width: 23%;
  z-index: 2;
  margin-right: 30px !important;
  padding-left: 0 !important;
}
.item-2-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 0;
}

.panel {
  width: 100%;
  margin-top: 25px;
  max-height: 600px;
  overscroll-behavior: contain;
  overflow: scroll;
}

.link {
  display: flex;
  width: 100%;
  padding: 5px;
  &.done {
    justify-content: space-between;
  }
}

.active {
  background-color: var(--primary);

  .icon,
  .text,
  .icon_check {
    color: var(--white);
  }
}

.text {
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}
.disable {
  background-color: #f1f1f1;
  .icon {
    color: #9d9d9d;
  }
}

.video {
  width: 100%;
  height: 500px;
}
