.body {
  margin-top: 100px;
}
.content {
  padding: 10px;
  background: white;
  margin: 120px 150px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.header-tags {
  display: flex;
  align-items: center;
}
.grid-item {
  text-align: center;
  p {
    margin: 4px 0;
    color: var(--black);
  }
}
.list-item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: 4px;
  padding: 4px 4px;
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: var(--black);

  p {
    margin: 0 4px;
    flex-wrap: wrap;
    text-align: center;
  }
}
.icon {
  margin: 8px 0;
  margin-left: 4px;
}
.success {
  color: #3cb46e !important;
}

.error {
  color: #e43a45 !important;
}

.text-through {
  text-decoration: line-through;
}
